/* @font-face {
  font-family: 'Consolas';
  src: url('../font/consola.ttf');
} */

html {
  color: #333333;
  background: #ffffff;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;;
}
body::-webkit-scrollbar {
  display: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
ol,
ul {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
blockquote {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
input,
select,
textarea {
  font-family: inherit;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
svg {
  width: 100%;
}
pre,
code {
  font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
}
input:-webkit-autofill {
  /* 自动填充的文本颜色 */
  -webkit-text-fill-color: #333333 !important;
  /* -webkit-text-fill-color: var(--text-color) !important; */

  /* 方式1：使用内阴影覆盖自动填充的背景色 */
  /* box-shadow: 0 0 0 1000px #ffffff inset !important; */

  /* 方式2：通过延迟一个月，取消自动填充的背景色 */
  -webkit-transition: background-color 2592000s ease-in-out 0s;
  transition: background-color 2592000s ease-in-out 0s;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #999999;
}
::-moz-selection {
  background-color: #4a4a4a;
  color: #f9f9f9;
}
::selection {
  background-color: #4a4a4a;
  color: #f9f9f9;
}
::-moz-selection {
  background-color: #4a4a4a;
  color: #f9f9f9;
}
.hover-underline {
  position: relative;
}
.hover-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #2a6496;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}
.hover-underline:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

/*header css*/
header {
  color: #777;
  border-bottom: 1px solid  #e7e7e7;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-weight: normal;
  font-size: 24px;
}
nav a {
  font-size: 24px;
  display: inline-block;
  line-height: 50px;
  padding: 0 15px;
 
}

nav a:hover {
box-shadow: inset 20px 20px 60px #eee;
}

.footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}
.footer a {
  text-decoration: underline;
  color: #000000;
  padding: 0 4px;
  white-space: nowrap;
}
#to-top {
  position: fixed;
  z-index: 99;
  right: 16px;
  bottom: 12px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  border-radius: 10%;
  background-color: #000000;
  opacity: 0.45;
  overflow: hidden;
  transform: translateY(66px);
  transition: transform 200ms ease-in-out;
}
#to-top.show {
  transform: translateY(0);
}
#to-top > span {
  display: block;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 13px;
  transform: translateX(-50%) rotate(45deg);
}
#to-top > span:first-child {
  background-color: #ffffff;
}
#to-top > span:last-child {
  background-color: #000000;
  transform: translate(-50%, 16%) rotate(45deg);
}
@media screen and (max-width: 560px) {
  body{
    font-size: 32px;
  }
  header {
    padding: 2px;
    justify-content: flex-start;
  }
  header .container {
    overflow: hidden;
    padding: 0 10px;
  }
  header h1 {
    float: left;
    font-size: 15px;
  }
  header nav {
    float: right;
}
  header nav a {
    font-size: 15px;
    line-height: 20px;
    padding: 5px;
  }
}
